spring:
  application:
    name: Aluno-Service
  datasource:
    username: vktgabriel
    password: 1234
    url: jdbc:h2:mem:aluno
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/AV2
          jwk-set-uri: http://keycloak:8080/realms/AV2/protocol/openid-connect/certs

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, metrics
  metrics:
    tags:
      application: aluno-service

springdoc:
  override-with-generic-response: false

server:
  port: 9000